#c1{
    margin-top: 10px;;
}
tr.c11:hover, tr.c11:active {
    color: red;
    font-size: 150%}

/* #feels_like:hover,#feels_like1:hover,#feels_like2:hover{
    color: brown;
    background-color: rgb(0, 255, 38);
} */