/* .sunrise {
    width: 100%;
    height: 100vh;
    background: linear-gradient(120deg, #ff9933, #ffff00);
    animation: sunrise-animation 10s linear infinite;
  }
  
  @keyframes sunrise-animation {
    0% {
      background: linear-gradient(120deg, #ff9933, #ffff00);
    }
    50% {
      background: linear-gradient(120deg, #ff9933, #ff6600);
    }
    100% {
      background: linear-gradient(120deg, #ff9933, #ff0000);
    }
  }
   */
  /* #c1 {
    
  }
  .container{
    .container {
  width: 500px;
  height: 250px;
  margin: 50px;
  outline: solid 1px black;
  display: flex;
  justify-content: center;
}
    
  } */
   .container{
    
    width: 400px;
    height: 120px;
    margin: 50px;
    
    justify-content: center;
    margin-left: 500px;
    margin-top: 60px; 
    display: flex;
    background: white;
    border-radius: 12px;
  
  } 
  .container h3{
   position: absolute;
   top: auto;

  }
.container form{
    padding-top: 60px;
    padding-left: 50px;
    padding-right: 8px;

} 
